{% extends 'core/principales/basetemplates.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'motos/motos.css' %}">

<div class="fil">
  {% for inventario in inventario %}
    {% if inventario.sub_categoria == 'automatica' %}
    <div class="box">
      <div class="img-container" style="background-image: url('{{ inventario.photo.url }}');"></div>
      <div class="info">
        <h5>{{ inventario.nombre }}</h5>
        <h6>{{ inventario.precio }}</h6>
        <a href="{% url 'vermas' inventario.id %}" class="btn btn-dark">Ver más</a>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
