{% extends 'core/principales/basetemplates.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'forms/contacto.css' %}">
{% block content %}
<div class="contact-container">
  <header>Contáctanos</header>
  <form method="POST" class="form">
    {% csrf_token %}
    
    <label>Nombre</label>
    {{ form.nombre }}
    
    <label>Apellido</label>
    {{ form.apellido }}
    
    <label>Correo Electrónico</label>
    {{ form.correo }}
    
    <label>Dirección</label>
    {{ form.direccion }}
    
    <label>Ciudad</label>
    {{ form.ciudad }}
    
    <label>Teléfono</label>
    {{ form.telefono }}
    
    <label>Mensaje</label>
    {{ form.mensaje }}
    
    {% if mensaje %}
      <div id="noti">{{ mensaje }}</div>
    {% endif %}
    
    <button type="submit">Enviar</button>
  </form>
</div>
{% endblock %}
